@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 33% 95%;
    --foreground: 0 0% 18%;

    --card: 42 33% 95%;
    --card-foreground: 0 0% 18%;

    --popover: 42 33% 95%;
    --popover-foreground: 0 0% 18%;

    --primary: 130 15% 67%;
    --primary-foreground: 42 33% 95%;

    --secondary: 25 25% 77%;
    --secondary-foreground: 0 0% 18%;

    --muted: 42 33% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 25 25% 77%;
    --accent-foreground: 0 0% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 42 33% 95%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 18%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 18%;
    --foreground: 42 33% 95%;

    --card: 0 0% 18%;
    --card-foreground: 42 33% 95%;

    --popover: 0 0% 18%;
    --popover-foreground: 42 33% 95%;

    --primary: 130 15% 67%;
    --primary-foreground: 42 33% 95%;

    --secondary: 25 25% 77%;
    --secondary-foreground: 0 0% 18%;

    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 65%;

    --accent: 25 25% 77%;
    --accent-foreground: 0 0% 18%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 42 33% 95%;

    --border: 0 0% 29.8%;
    --input: 0 0% 29.8%;
    --ring: 42 33% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }
}

